*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
/*FONT*/
html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  background: #00A7EE;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:active {
  background-color: #00A7EE;
}

html body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

html body .header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .header .logo p {
  margin-left: 30px;
}

html body .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
}

html body .header .nav .link {
  padding: 10px;
  margin-right: 10px;
  color: #212121;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  display: inline-block;
}

html body .header .nav .link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 0.1rem;
  background: #00A7EE;
  -webkit-transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
  transition: all 0.25s cubic-bezier(1, 0.1, 0.16, 0.9);
}

html body .header .nav .link:hover {
  color: #00A7EE;
}

html body .header .nav .link:hover::after {
  right: 0;
  height: 1px;
  background: #00A7EE;
}

html body .main-text {
  max-width: 100%;
  min-height: 100vh;
}

html body .main-text-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .second-part {
  max-width: 100%;
  min-height: 100vh;
}

html body .second-part-SP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .second-part-SP .firstImg {
  margin-bottom: 50px;
}

html body .footer {
  width: 100%;
  height: 200px;
  background-color: #00A7EE;
  font-family: "Roboto", sans-serif;
}

html body .footer img {
  margin: 50px 0 0 30px;
}

html body .footer .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .footer .boxs .paragraph {
  margin: 10px 0px 0px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .footer .boxs .paragraph h5 {
  font-size: 1.3rem;
  font-weight: bold;
}

html body .footer .boxs .box {
  background-color: #00A7EE;
  margin-right: 50px;
}

html body .footer .boxs .box .btn {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  color: #fff;
  background: #7F8C8D;
  padding: 15px 40px;
  white-space: nowrap;
  margin: 10px 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #00A7EE;
  font-weight: bold;
}

html body .footer .boxs .box .btn:hover {
  background: #fcfcfc;
  color: #00A7EE;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */