*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Color Theme Swatches in Hex */
/*FONT*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* ----- -----  Estilos para Validacion ----- ----- */
}

html body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

html body .fa-chevron-left {
  font-size: 2.5rem;
  margin: 20px 0px 0px 150px;
}

html main {
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}

html .formulario {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

html .formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
}

html .formulario__grupo-input {
  position: relative;
}

html .formulario__input {
  width: 100%;
  background: #f5f4f4;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border: 2px solid #00A7EE;
}

html .textArea {
  background: #f5f4f4;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 250px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  border: 2px solid #00A7EE;
}

html .formulario__input:focus {
  border: 3px solid #0075FF;
  outline: none;
  -webkit-box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
          box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

html .formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

html .formulario__input-error-activo {
  display: block;
}

html .formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

html .formulario__checkbox {
  margin-right: 10px;
}

html .formulario__grupo-terminos,
html .formulario__mensaje,
html .formulario__grupo-btn-enviar {
  grid-column: span 2;
}

html .formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #F66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

html .formulario__mensaje-activo {
  display: block;
}

html .formulario__mensaje p {
  margin: 0;
}

html .formulario__grupo-btn-enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #00A7EE;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .1s ease all;
  transition: .1s ease all;
}

html .formulario__btn:hover {
  -webkit-box-shadow: 3px 0px 30px #a3a3a3;
          box-shadow: 3px 0px 30px #a3a3a3;
}

html .formulario__mensaje-exito {
  font-size: 2.2rem;
  color: #119200;
  display: none;
}

html .formulario__mensaje-exito-activo {
  display: block;
}

html .formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

html .formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

html .formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

html .formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

html .modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

html .show {
  pointer-events: auto;
  opacity: 1;
}

html .modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  text-align: center;
}
/*# sourceMappingURL=style2.css.map */